.App {
  text-align: center;
}

/* // vh = viewheight */
/* // need to fix a height so scrolling works fine */
.header{
  height: 10vh;
  border-bottom: 1px solid black;
}

.newheader{
  height: 5vh;
}
.navigation {
  height: 10vh;
  padding: 20px;
}

.hero.is-info {
  background: url('https://www.thebostoncalendar.com/system/events/photos/000/137/075/original/01-20-12-brands1.jpg?1497701204') no-repeat center center fixed;
  background-size: cover; 
  opacity: 0.7;
}


.columns:last-child {
  margin-bottom: 0 !important;
}

.bottom {
  /* border-top: 1px solid black; */
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

.scrollable {
  height: 75vh;
  overflow: scroll;
}

.newscrollable {
  height:95vh;
  overflow: scroll;
}

.newnewscrollable {
  height:95vh;
}

.image {
  margin-left: auto;
  margin-right: auto;
  max-inline-size: 170px;
  margin-top: 15px;
  margin-bottom: 12px;

}

.description {
  text-align: center;
  font-size: 18px;
  width: 150vh;
  margin-right: auto;
  margin-left: auto;
  

}

.companyinfo {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

.productstitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.big-image {
 height: 157px;
}

.line {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.columnheader {
  font-weight: bold;
}

.top {
  font-weight: bold;
}

.plogo {
 margin-left: auto;
 margin-right: auto;
}

.searchInput {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  height: 10vh;
} 

.edit-delete-favorite-button {
  border: none;
  font-size: 15px;
}

.addnewproduct {
  font-weight: bold;
  margin-bottom: 11px;
  margin-top: 11px;
}

.createform {
  background-color: #459CE9;
  
}

.createinputs {
  font-size: 16px;
  margin-right: 5px;
  color: black;

}


.createbutton {
  height: 25px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  position: fixed;
  width: 120px;
  background-color:  #FFAF3E;
  border: solid 0.5px #FFAF3E;
}

.hello {
  margin-top: 135px;
}

.container3:hover{
  background-color: rgba(0,0,0,.1);
  font-size:20pt;
  cursor: pointer;
}

/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
