.App {
  text-align: center;
}

.header{
  height: 10vh;
  border-bottom: 1px solid black;
}

.navigation {
  height: 10vh;
  border-bottom: 1px solid black;
}

.columns:last-child {
  margin-bottom: 0 !important;
}

.bottom {
  border-top: 1px solid black;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

.scrollable {
  height: 70vh;
  overflow: scroll;
}