.App {
  text-align: center;
}

/* // vh = viewheight */
/* // need to fix a height so scrolling works fine */
.header{
  height: 10vh;
  border-bottom: 1px solid black;
}

.navigation {
  height: 10vh;
  padding: 20px;
}


.columns:last-child {
  margin-bottom: 0 !important;
}

.bottom {
  border-top: 1px solid black;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

.scrollable {
  height: 65vh;
  overflow: scroll;
}

.big-image {
 max-height: 157px;
}

.columnheader {
  font-weight: bold;
}

.top {
  font-weight: bold;
}

.plogo {
 margin-left: auto;
 margin-right: auto;
}

.searchInput {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  height: 10vh;
} 

.edit-delete-favorite-button {
  border: none;
  font-size: 15px;
}

.container3:hover{
  background-color: rgba(0,0,0,.1);
  font-size:20pt;
}

